
.hero{
  background: #f1f1f1 url("../img/hero/herou-bg.jpg") no-repeat center top 80px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px;
  .hero-title{
    max-width: 260px;
    color: #252525;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .hero-subtle{
    display: block;
    color: #121212;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 58px;
  }
  .hero__button{
    color: #ffffff;
    font-family: "Proxima Nova - Semibold";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }



}






