.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  background-color: #4370ce;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
  transition: 0.2s;
  transform: translateY(-100%);
  &_active{
    transform: translateY(0);
  }
  &__nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  &__link {
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
  }
}